*{
  margin: 0;
  padding: 0;
}
body{
  width: auto;
  height: auto;
  min-height: 100vh;
}
ul {
  list-style: none;
  margin-top: 20px;
  color: blue;
}
div{
  color: red;
}

#container {
  width: 80%;
  margin: auto;
  height: inherit;
  min-height: inherit;
  background-color: aliceblue;
  padding: 20px;
}


footer {
  position: absolute;
  bottom: 0;
}